PORT= # port where the server is running
DB_HOST= # database host (e.g., db or localhost)
DB_PORT= # database port (e.g., 5432)
DB_USER= # database user
DB_PASSWORD= # database password
DB_NAME= # database name
JWT_ACCESS_SECRET= # jwt access secret
JWT_REFRESH_SECRET= # jwt refresh secret
ACCESS_TOKEN_EXPIRY= # access token expiry example: 15m
REFRESH_TOKEN_EXPIRY= # reresh token expiry example: 7d
UPLOADS_DIR= # directory for file uploads (CAS base)